<div class="container row">
    <h2>Sign up</h2>
    <div class="jumbotron col-sm-4 pull-center">
        <form action="/user/signup" method="post">
            <div>
                <label>UserName:</label>
                <input type="text" name="userName">
            </div>

            <div>
                <label>Email:</label>
                <input type="text" name="email">
            </div>

            <div>
                <label>Password:</label>
                <input type="password" name="password" />
            </div>

            <div>
                <input class="btn btn-primary" type="submit" value="Sign Up" />
            </div>
        </form>
    </div>
</div>